<div class="container">
  <div class="heart"></div>
  <h1 class="titulo">
    ¿Como estas mi niña?
  </h1>
  <p class="texto">A veces, cuando miro hacia atrás, la memoria de nuestra primera cita resuena en mi
    mente como si hubiera sido ayer. Fue un día repleto de nervios y risas, donde cada palabra compartida
    nos acercó un poco más. Recuerdo cómo me sonrojé (o, en su defecto, me volví moradito JAJA) al
    tomar tu mano por primera vez y cómo, al robarte ese beso, la atmósfera del lugar se hizo completamente
    mágica de modo que cada instante se sintió eterno. Ese momento marcó el inicio de nuestra historia juntos,
    y siempre lo llevaré en mi corazón.</p>
    <img src="assets/img/dino-beso.png" alt="Dino Beso">
    <p class="texto-1">
      Es raro cuando recuerdo la ocasión en la que te vi por primera vez.
      Yo estaba sentado, como si nada, disfrutando de una litro de café, mirando a la puerta como si nada
      y disfrutando de mi vida en soledad. ¡JAJAJA! ¿Qué irónico no?
    </p>
    <img class="dino-img" src="assets/img/dino-sentado.png" alt="Dino Sentado">
    <p class="texto-1">
      Yo creía que estaba destinado a estar
      solo mucho tiempo más, pero no, justo al sorber de mi cafecito paso la mujer más hermosa que mis ojitos hayan
      visto en su larga vida...
    </p>
    <img src="assets/img/dino-miron.png" alt="Dino Miron">
    <p class="texto-1">
      Después de eso mi vida siguio como si nada, tu existias, yo seguia enamorado de ti y todos ganabamos
      JAJAJA y justo en el momento que pasamos a noveno semestre decides preguntarme algo, yo por dentro estaba
      tipo "Piensa Jimmy piensa!"
    </p>
    <img src="assets/img/dino-pensando.png" alt="Dino Pensante">
    <p class="texto-1">
      Hasta que por fin! Logre hacerme de valor para contestarte porque yo andaba asi todo tipo
      "el para que cosa de quien?" en mi cabeza JAJA, poco a poco nuestra confianza incremento
      (aunque tu no te dieras cuenta "procede a llorar iiiiijiiiijiii! :'( " ), pero me encanto el
      proceso :3
    </p>
    <img src="assets/img/dino-conf.png" alt="Dino Confianzudo">
    <p class="texto-1">
      Avanzamos y comenzamos a salir, sinceramente no me arrepiento de nada, cada salida
      a tu lado, la primera cita, la primera vez que te robe un beso, ese primer pan que
      te di en la boca, ese primer saludo y sobre todo esa primera vez en poder tomar tu mano
      y caminar a tu lado son algo que claramente jamas cambiaria por nada en el mundo, a pesar de
      que cuando no te vea me poncha chipil...
    </p>
    <img src="assets/img/dino-chipi.png" alt="Dino Chipil">
    <p class="texto-1">
      A pesar de que estemos enojados...
    </p>
    <img src="assets/img/dino-enojado2.png" alt="Dino Enojado">
    <p class="texto-1">
      A pesar de que hagamos dramas y berrinches el uno al otro...
    </p>
    <img src="assets/img/dino-enojado.png" alt="Dino Drama">
    <p class="texto-1">
      Incluso a pesar de que haya días que ni si quiera me quieras tragar porque si soy bien intenso JAJAJA...
    </p>
    <img src="assets/img/dino-paciencia.png" alt="Dino Paciente">
    <p class="texto-1">
      Pero a pesar de todos esos "a pesar de..." no te cambiaria nunca jamás por nada en este mundo
    </p>
    <img src="assets/img/dino-cambio.png" alt="Dino Cambio">
    <p class="texto-1">
      Porque simple y sencillamente eres y serás la mujer de mis sueños!
    </p>
    <img src="assets/img/dino-sueños.png" alt="Dino Sueño">

    <p class="texto-2">
      ¡Te amo mi reina!
    </p>

    <br>

    <div class="button">
      <button mat-fab extended (click)="openVideo()">
        Pulsa aquí :3
      </button>
    </div>

</div>

